<h1>ارتباط با ما</h1>

<p>مرکز ارتباط با مشتریان فنزین به منظور پاسخگویی به سوالات همکاران و مشتریان گرامی و دریافت بازخورد از فعالیت ها و محصولات آماده خدمت رسانی می باشد. بدین منظور شما می توانید سوالات، نظرات و شکایات خود را از کانال های مختلف طراحی شده ارسال و پاسخ های لازم را در اسرع وقت دریافت نمایید</p>
<p>*بمنظور تکمیل و ارسال فرم ارتباط با ما، بر روی آیکون <span><i class="far fa-envelope fa-envelope-default fa-2x"></i></span>  کلیک نمایید*</p>


<div class="row" id="address-container">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 callus">
        <a><i class="fas fa-map-marker fa-5x"></i></a>
        <a class="address"><address>ایران  تهران  میدان هروی  خیابان شهید پناهی نیا  کوچه سوم  پلاک ۴۸</address></a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 callus">
        <a href="tel:+989121204845"><i class="fas fa-phone-square fa-7x"></i></a>
        <a href="tel:+989121204845" class="tel-number">+۹۸۹۱۲۱۲۰۴۸۴۵</a>
    </div>
    <div class="col-xs-12 col-sm-6 callus">
        <a><i id="contactus-toggle-button" class="far fa-envelope fa-7x"></i></a>
        <a href="mailto:your-email@your-domain.com" class="email-address">support@Fanzin.com</a>
    </div>
</div>

