@model IEnumerable<Fanzin.Entities.Slide>
@{
    var slideClass = "item active";
}


<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @foreach (var item in Model)
            {
            <div class="@slideClass" style="background-image: url(../images/SlideImages/@Html.DisplayFor(modelItem => item.SlidePhoto.FileName))">

                @*<img src="../images/SlideImages/@Html.DisplayFor(modelItem => item.SlidePhoto.FileName)" alt="@Html.DisplayFor(modelItem => item.Title)" />*@

                <div class="carousel-caption">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </div>

            slideClass = "item";
        }
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


